body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-repeat: no-repeat;
  background-image: url('/images/doc\ left1.jpg');
  background-position: right;
  background-size: 60% 90%;
  
}
.form-container {
    background-color: rgb(145, 205, 227);
    width: 450px;
    padding: 50px;
    margin: 40px;
}

input[type=text], input[type=tel], select {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-container input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #a5f1ee;
}

@media only screen and (max-width: 600px) {
  /* Adjust form container width for smaller screens */
  .form-container {
    max-width: 100%;
  }
}