body {
    background-image: url("https://img.freepik.com/free-photo/young-male-psysician-with-patient-measuring-blood-pressure_1303-17879.jpg?w=2000");
    background-size: cover;
    margin: 0;
    padding: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position:center;
    font-family: Arial, sans-serif;
}
.logo {
    position: fixed;
    bottom: 605px;
    left: 20px;
    width: 50px;
    height: 50px;
    
}
.container {
    max-width: 400px;
    background-color:gainsboro;
    padding: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 150vw;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #25907e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #7aba7d;
}

.response {
    margin-top: 20px;
    text-align: center;
    color: green;
}
