
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  } 
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }
  
  .doctor {
    display: inline-block;
    margin-right: 20px;
  }
  
  .doctor img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius:0%;

  }
  
  .book-appointment-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 10px;
}

.book-appointment-button:hover {
    background-color: #45a049;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .logo img {
    height: 65px;
  width:60px;
  }