body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #d6c8c8;
    padding: 20px 0;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .main-section {
    background-color: #fff;
    padding: 40px 0;
  }
  
  .doctor-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    text-decoration: solid;
  }
  
  .doctor-info {
    flex: 1;
    text-align: center;
  }
  
  .doctor-image {
    flex: 1;
    text-align: center;
    height: 100px;
    width: 100px;
  }
  
  img {
    max-width: 1000px;
    height: 150px;
    border-radius: 0%;
  }
  
  .services-section {
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  p, ul {
    font-size: 16px;
    line-height: 1.5;
  }
  .book-appointment-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 10px;
}

.book-appointment-button:hover {
    background-color: #45a049;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .logo img {
    height: 65px;
    width: 60px;
  }