.search1{
    border-radius: 5px;
    border: 1px solid lightgray;
}
.mbut{
    margin-left:auto;
}
.card{
    border: 10px solid black;
    border-radius: 100px;
    margin-top: 15px;
    text-decoration: none;
}
.card:hover{
    background:linear-gradient(to bottom , lightblue,lightgreen);
    text-decoration: none;
}
.card1:hover{
    background:linear-gradient(to bottom,lightgray,lightgrey);
    border-radius: 20%;
    border: 1px solid lightcoral;
    text-decoration: none;
}
.scroll{
    overflow-x: scroll;
}
.buttonscroll{
    border:0px;
    background-color: lightblue;
}
.card1{
    border-radius: 5px;
    box-shadow: 20px 20px ;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 120px;
}
.sa{
    border: 5px solid white;
    height: 200px;
    width: 200px;
}