    body {
      font-family: Arial, sans-serif;
      background-image: url(/images/sign\ up\ image.jpg);
      background-size: cover;
      margin: 0;
      padding: 20px;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form-container {
      background-color: #ffffffa1;
      padding: 20px;
      width: 400px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-container label {
      display: block;
      margin-bottom: 10px;
    }

    .form-container input[type="text"],
    .form-container input[type="tel"],
    .form-container select {
      width: 100%;
      padding: 12px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .form-container input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .form-container input[type="submit"]:hover {
      background-color: #45a049;
    }
    #thankYouMessage {
      text-align: center;
      font-weight: bold;
    }

    .logo{
      position: fixed;
    bottom: 500px;
    left: 20px;
    width: 50px;
    height: 50px;
    }
