.container{
    border:2px solid black;
    height:400px;
    width:400px;
    max-width: 400px;
    margin: 0 auto;
    margin-top:auto;
    margin-bottom: auto;
    background-color:whitesmoke;

}
.user{
 padding:30px;
 margin-top:10px;
}
.user input{
    width:100%;
    height:25px;
}
.pass{
    padding:30px;
}
h1{
    text-align:center;
    margin-top:20px;
}
body{
    margin:0;
    padding:0;
    background-image: url(images/sign\ up\ image.jpg);
    background-size:cover;
    height:100vh;
    width:100vw;
} 
@media screen and (max-width: 480px){
    .container {
      width: 90%;
    }
} 
#btn{
    width:70px;
    height:40px;
    margin-left:150px; 
    color:white;
    background-color:cadetblue;
} 
.last{
    display: flex;
    margin-top:30px;
    
} 