body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: lightskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  h1 {
    margin: 0;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .logo img {
    height: 65px;
    width: 60px;
  }
  main {
    margin: 20px;
  }
  
  .department-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
  }
  
  .department-info img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .department-description {
    line-height: 1.5;
  }
  
  .doctors-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 40px;
  }
  
  .doctor-card {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .doctor-card:hover {
    background-color: lightskyblue;
  }
  
  .doctor-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .book-appointment {
    margin-top: 10px;
    background-color: blue;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .book-appointment-box {
    /* background-color: #f5f5f5; */
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
  }
  
  @media screen and (min-width: 768px) {
    .department-info {
      grid-template-columns: 1fr 2fr;
    }
  
    .doctors-section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  