.cover{
    height: 100%;
    width: 100%;
    text-align: center;
}
.box{
    background-color: pink;
    width: 500px;
    text-decoration: none;
}
.box1{
    background-color:lightgrey;
    width: 500px;
    text-decoration: none;
}
.box2{
    background-color:lightblue;
    width: 500px;
    text-decoration: none;
}
.box ul{
    list-style-type: none;
}
.box1 ul{
    list-style-type: none;
}
.box2 ul{
    list-style-type: none;
}