
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  header {
    background-color: #eababa;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }
  
  .surgeon {
    display: inline-block;
    margin-right: 20px;
  }
  
  .surgeon img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
  }
  
  .testimonial {
    margin-bottom: 20px;
  }
  .book-appointment-button {
    display: inline-block;
    background-color: #566d7e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 10px;
}

.book-appointment-button:hover {
    background-color: #337f8b;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .logo img {
    height: 65px;
    width: 60px;
  }