body{
font-family: arial,sans-serif;
margin: 0;
padding: 0;

}
header {
  background-size: cover;
  background-position: center center;
  background-color: lightseagreen;
  color: #e9e9f0;
  padding: 10px ;
  position: relative;
  text-align: center;
  font-family: Arial, sans-serif;
 
  
}
.logo {
  float: left;
}

.header-text {
  margin-left: 100px;
}

/* .header {
  position: relative;
  padding: 20px;
} */

.Header1 {
  padding: 10px;
  background-color: lightseagreen ;
  border-radius: 50px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  display: inline-block;
}

/* .Header1 h1 {
  margin: 0;
} */


/* .Header1 img {
  opacity: .1;
  height: 180px;
  object-fit: cover;
width: 100%;
} */

main {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.hospital-list {
  list-style: none;
  padding: 10px;
  width: 30%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hospital-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hospital-item:hover {
  background-color: #ddd;
}

.branch-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 65%;
}

.branch-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.branch-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: lightblue;
  cursor: pointer;
}

.hospital-item:hover {
  background-color: lightblue;
  cursor: pointer;
}

.branch-card img {
  max-width: 100%;
  border-radius: 5px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
.btn{
  background-color:white;
  border-radius: 5px;
  border-color: lightskyblue;
}
.btn:hover{
  background-color: rgb(65, 65, 212);
}
